body{
    margin: 0 !important;
    background-image: none !important;
}

#slideshow-container{
    background-color: grey !important;
    bottom: 0 !important;
    width: 66% !important;
    border-radius: 31px 31px 0px 0px !important;
    z-index: 999999999999999999999999;
    position: fixed !important;
    box-shadow:  0 -17px 52px 0 !important;
    margin: auto;
    right: 0;
    left: 0;
    max-height: 13%;
}

.mySlides {
    display:none;
}




